.top-container {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: flex-start;
    padding-top: 1rem;
    border-top: 2px solid rgba(153, 153, 153, 0.3);
}

.left-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.avatar {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.top-section {
    line-height: 1.4;
    text-align: left;
}

.top-section span:first-child {
    opacity: 1;
    font-weight: bold;
    padding-right: 0.3rem;
}

.top-section span {
    font-weight: normal;
    opacity: 0.5;
    padding-right: 0.3rem;
}
